input.ui-inputfield{
    outline: 0;
  border-width: 0 0 2px;
  border-color: blue
	-webkit-appearance: none;
}
div.ui-selectonemenu{
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
  -webkit-appearance: none;
}
